.clear-fix{
  clear: both;
}
*{
  margin: 0;
  padding: 0;
}

#meganIMG {
  width: 15%;
  height: 15%;
}
#TjIMG {
  width: 15%;
  height: 15%;
}
#natoIMG {
  width: 15%;
  height: 15%;
}
#scottIMG {
  width: 15%;
  height: 15%;
}
