.clear-fix{
  clear: both;
}
.ticket {
  width: 20%;
  border:none;
}

#meganIMG {
  width: 160px;
  height: 160px;
  border-radius: 250%;
  border-style: solid;
}
#TjIMG {
  width: 160px;
  height: 160px;
  border-radius: 250%;
  background: #fff;
  border-style: solid;
}
#natoIMG {
  width: 160px;
  height: 160px;
  border-radius: 250%;
  border-style: solid;
}
#scottIMG {
  width: 160px;
  height: 160px;
  border-radius: 250%;
  border-style: solid;
}

#meganP {
  float: left;
  border-style: solid;
  height: 130px;
  background-color: gray;
}
#TjP {
  float: left;
  border-style: solid;
  height: 130px;
  background-color: gray;
}
#natoP {
  float: left;
  border-style: solid;
  height: 130px;
  background-color: gray;
}
#scottP {
  float: left;
  border-style: solid;
  height: 130px;
  background-color: gray;
}
#list {
  margin-top: 8%;
  margin-bottom: 6%;
  width: 100%;
  list-style-type:none

}
#par {
  float: right;
  width: 60%;
  text-align: left;
  background-color: gray;
  border-style: solid;
  height: 100%;
}
#about {

}
#loading {
  display: none;
  position: fixed;
  z-index: 1;
  top: 25%;
  left: calc(50% - 100px);
  width: 200px;
}

#megan {
  text-align: center;
  margin-left: 9.5%;
  display: inline-block;
  width: 200px;
  height: 100%;
  margin-left: 9.5%;
}
#tj {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 100%;
  margin-left: 9.5%;
}
#nato {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 100%;
  margin-left: 9.5%;
}
#scott {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 100%;
  margin-left: 9.5%;
}
#group {
  margin-top: 10%;
}
