body {
  background-color: #222;
}
#top-bar {
  height: 10%;
  width: 100%;
  background-color: #000;
  top: 0;
  text-align: center;
  position: fixed;
  z-index: 1;
}

#monkey-logo {
  margin-top: 10px;
  height: 400%;
}

#monkey-logo.small {
  position: fixed;
  top: 5px;
  left: 5px;
  height: 6%;
}

@media only screen and (min-width: 730px) {
  #monkey-logo.small {
    height: 10%;
  }
}

button{
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 5px 20px 5px 20px;
  border: none;
  font-size: 1.5em;
  background-color: #A92F41;
  border: 2px solid #222;
  border-radius: 15px;
}

button a {
  color: white;
}

button:hover {
  background-color: #de8d47;
}

a{
  color: #252120;
  text-decoration: none;
  font-family: 'Hammersmith One', sans-serif;
}

.filters input {
  font-size: 1em;
  border: none;
  height: 2em;
  padding: 5px;
  border-radius: 5px;
  vertical-align: middle;
  font-family: 'Hammersmith One', sans-serif;
  border: 2px solid #222;
  margin-bottom: 5px;
}

.filters input:focus {
  background-color: #de8d47;
}

.filters input[type="date"] {
  width: 10em;
}

.filters input[type="submit"] {
  background-color: #00dd82;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
}
.style-control {
        margin: 10px;
}
#bottom-bar {
  height: auto;
  width: 100%;
  background-color: none;
  position: fixed;
  bottom: 0;
  text-align: center;
}

#style-selector {
  display: inline-block;
}

@media only screen and (min-width: 730px) {
  #bottom-bar {
    background-color: #000;
  }
  #style-selector {
    display: block;
    margin: 0 auto;
  }
}

.bottom-button {
  font-size: 1em;
}
